/* COMMON  */
body {
    font-family: Arial, sans-serif;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

/* buttons & effects  */
.btn:focus {
    box-shadow: none;
}
.ms_btn-gray {
    background-color: #363636;
    border-radius: 20px;
}
.ms_btn-orange {
    background-color: #cd3d0f;
    color: white;
    border-radius: 20px;
}
/* HEADER  */
header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* header top  */
.header-top {
    background-color: #000000;
}
.header-top .logo-box {
    padding: 5px 0;
    text-align: right;
}
.header-top .logo {
    width: 80px;
}

/* header bottom  */
.header-bottom {
    padding: 15px 0 10px 0;
    background-color: #ffffff;
}
.header-bottom .logo-box .logo{
    width: auto;
}
/* burger menu  */
.header-bottom .burger-menu {
    text-align: right; 
}
.header-bottom .burger-menu .btn:hover {
    color: #737373;
}
.header-bottom .burger-menu a {
    border: 1px solid #e5e5e5;
}
.header-bottom .burger-menu i {
    font-size: 35px;  
    color: #737373;
}

/* menu central  */
.header-bottom .menu li {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
}
.header-bottom .menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
.header-bottom .menu .chevron-box {
    display: inline-block;
    margin-left: 5px;
}
.header-bottom .menu .chevron,
.header-bottom .menu .chevron-blue {
    width: 10px;
}
.header-bottom .menu .chevron-blue {
    display: none;
}
/* hover chevron box  */
.menu .chevron-box:hover .chevron {
    display: none;
}
.menu .chevron-box:hover .chevron-blue {
    display: inline-block;
}

/* menu right  */
.header-bottom .menu.right {
    text-align: right;
}
.header-bottom .menu.right .btn {
    color: white;
}
.header-bottom .menu.right .lens {
    width: 25px;
}

/* MAIN  */
main {
    margin-top: 111px;
}
/* SECTION  */
.section-heading h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.section-heading p {
    margin-bottom: 18px;
}
/* general jumbotron  */
.jumbotron {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.jumbotron .jumbo-box {
    color: white;
}
@media (min-width: 992px) {
    .jumbotron .jumbo-box {
        width: 40%;
    }
}
/* SECTION #1 jumbotron-top  */
.jumbotron-top {
    background-image: url("../img/jumbo-bg.png");
    padding: 200px 0 50px 0;
}
.jumbotron-top .jumbo-box .box-img {
    width: 50%;
    margin-bottom: 20px;
}
/* SECTION #2 gallery  */
section.gallery {
    
    /* test  */
    padding: 40px 0;
    background-color: lemonchiffon;
}
.gallery .box-img {
    margin-bottom: 20px;

    /* test  */
    /* padding: 3px; */
    /* border: 2px solid blue; */
    /* border-radius: 20px; */
}
.gallery .box-img img {
    border-radius: 20px;

    /* test  */
    /* padding: 3px;
    border: 2px solid blue; */
    
}

/* SECTION #3 playstation5  */
.playstation5 .section-heading {
    text-align: center;
}
.playstation5 .section-box {

    /* test  */
    background-color: lightgreen;
}
.playstation5 .box-img {

    /* test  */
    padding: 10px;
    background-color: lightpink;
}
/* need for test above REMEMBER REMOVE  */
.col > .box-img {
    padding: 0;
    background-color: none;
}

/* SECTION #4 jumbotron-middle  */
.jumbotron-middle {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* SECTION 5 new releases  */
.new-releases {
    background-color: #1f1f1f;
    color: white;
}

/* SECTION #7 playstation service  */
.playstation-service .ps-plus {
    background-color: #bebcbb;
}
.ps-store .box-img {

    /* test  */
    padding-bottom: 20px;
}
.playstation-service .ps-now {
    background-color: #161c3b;
    color: white;
}

/* SECTION #8 social media  */
.social-media {

    /* test  */
    max-width: 576px;
    margin: auto;
}
.social-media .box-img {

    /* REMEMBER same as section 7 REMEMBER */
    padding-bottom: 20px;
}

/* FOOTER  */
footer {
    background-color: #00439c;
    color: white;
}
footer ul {
    list-style-type: none;
}