/* COMMON  */
body {
    font-family: Arial, sans-serif;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

/* buttons & effects  */
.btn:focus {
    box-shadow: none;
}
.ms_btn-gray {
    background-color: #363636;
}
.ms_btn-light-gray {
    background-color: #d9dadc;
    color: #2d64e6;
}
.ms_btn-white {
    background-color: #f5f5f5;
}
.ms_btn-orange {
    background-color: #cd3d0f;
    color: white;
}
.ms_btn-rounded {
    border-radius: 20px;
}

/* HEADER  */
header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* header top  */
.header-top {
    background-color: #000000;
}
.header-top .logo-box {
    padding: 5px 0;
    text-align: right;
}
.header-top .logo {
    width: 80px;
}

/* header bottom  */
.header-bottom {
    padding: 15px 0 10px 0;
    background-color: #ffffff;
    font-size: 15px;
}
.header-bottom .logo-box .logo{
    width: auto;
}
/* burger menu  */
.header-bottom .burger-menu {
    text-align: right; 
}
.header-bottom .burger-menu .btn:hover {
    color: #737373;
}
.header-bottom .burger-menu a {
    border: 1px solid #e5e5e5;
}
.header-bottom .burger-menu i {
    font-size: 35px;  
    color: #737373;
}

/* menu central  */
.header-bottom .menu li {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
}
.header-bottom .menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
.header-bottom .menu .chevron-box {
    display: inline-block;
    margin-left: 5px;
}
.header-bottom .menu .chevron,
.header-bottom .menu .chevron-blue {
    width: 10px;
}
.header-bottom .menu .chevron-blue {
    display: none;
}
/* hover chevron box  */
.menu .chevron-box:hover .chevron {
    display: none;
}
.menu .chevron-box:hover .chevron-blue {
    display: inline-block;
}

/* menu right  */
.header-bottom .menu.right {
    text-align: right;
}
.header-bottom .menu.right .btn {
    color: white;
    font-size: 15px;
}
.header-bottom .menu.right .lens {
    width: 25px;
}

/* MAIN  */
main {
    margin-top: 111px;
}

/* SECTION common */
.section-heading {
    text-align: center;
}
.section-heading h2,
.section-heading h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
.section-heading p {
    font-size: 22px;
    margin-bottom: 18px;
    color: #727272;
}
/* playstation section (common in section #3 and #6) */
.playstation .section-box .section-heading {
    text-align: left;
}
.playstation .section-box .section-heading p {
    font-size: 20px;
}
.playstation .container > .section-heading {
    margin-bottom: 70px;
}
/* general jumbotron  */
.jumbotron {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.jumbotron .jumbo-box {
    color: white;
}
@media (min-width: 992px) {
    .jumbotron .jumbo-box {
        width: 40%;
    }
}

.jumbotron .jumbo-box .box-img {
    width: 50%;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .jumbotron .jumbo-box .box-img {
        width: 60%;
    }
}
.jumbotron .section-heading {
    text-align: left;
}
.jumbotron .section-heading p {
    font-size: 16px;
    color: white;
}

/* SECTION #1 jumbotron-top  */
.jumbotron-top {
    background-image: url("../img/jumbo-bg.png");
    padding: 200px 0 50px 0;
}


/* SECTION #2 gallery  */
.gallery {
    padding: 40px 0;
}
.gallery figure {
    margin-bottom: 20px;
    padding: 3px;
    border: 2px solid transparent;
}
.gallery figure img {
    border-radius: 20px;
    
}
.gallery figure:hover {
    border-color:  #0072ce;
    border-radius: 25px;
}

/* SECTION #3 playstation5  */
section.playstation5 {
    padding: 40px 0;
}
.playstation5 .section-heading .upper-title {
    color: #0876cf;
    text-transform: uppercase;
    font-weight: 600;
}

.playstation5 .section-box {
    padding-bottom: 20px;
}
.playstation5 .box-img.ps5-accesory {
    text-align: center;
    min-height: 135px;
    margin-bottom: 10px;
}
.playstation5 .box-img.ps5-accesory:hover {
    border-bottom: 2px solid #0876cf;
    
}
@media (min-width: 768px) {
    .playstation5 .box-img.ps5-accesory img {
        width: 60px;
    }
}
@media (min-width: 992px) {
    .playstation5 .box-img.ps5-accesory {
        min-height: 161px;
    }
    .playstation5 .box-img.ps5-accesory img {
        width: 110px;
    }
}

/* SECTION #4 jumbotron-middle  */
.jumbotron-middle {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    padding: 40px 0;
}

/* SECTION 5 new releases  */
.new-releases {
    background-color: #1f1f1f;
    color: white;
    padding: 30px 0 50px 0;
}
.new-releases .section-heading {
    text-align: left;
}
.new-releases .section-heading h2 {
    font-size: 35px;
}
.new-releases .section-heading p {
    color: white;
}
.new-releases .release-box {
    padding: 20px 0;
}
.release-box .box-img img {
    border-radius: 20px;
}
.release-box .box-text {
    margin-top: 20px;
}
.release-box .box-text h4 {
    font-size: 17px;
}

/* SECTION 6 playstation 4*/
section.playstation4 {
    padding: 70px 0;
}
.playstation4 .section-heading .reg-mark {
    font-size: 20px;
    font-weight: 600;
    vertical-align: text-top;
}


/* SECTION #7 playstation service  */

/* backgrounds ps plus(top section) ps now(bottom section) */
.playstation-service .ps-plus {
    background-color: #bebcbb;
}
.playstation-service .ps-now {
    background-color: #161c3b;
    color: white;
}

.playstation-service .service-box {
    padding: 40px 0;
}
@media (min-width: 768px) {
    .playstation-service .service-box {
        padding: 0;
    }
}

.playstation-service .service-box .logo {
    width: 55%;
}
.playstation-service .service-box .description {
    margin-top: 20px;
}

/* ps store middle section */
.playstation-service .ps-store {
    padding: 40px 0;
}
.ps-store .section-heading {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
@media (min-width: 576px) {
    .ps-store .section-heading {
        width: 100%;
    }
}

.ps-store .box-img {
    padding-bottom: 50px;
}


/* SECTION #8 social media  */
.social-media {
    padding: 60px 0;
    max-width: 576px;
    margin: auto;
}
.social-media .section-heading {
    margin-bottom: 70px;
}
.social-media .section-heading h3 {
    font-size: 30px;
}
.social-media .box-link {
    padding-bottom: 20px;
}

/* FOOTER  */
footer {
    background-color: #00439c;
    color: white;
    padding: 70px 0;
}
footer ul {
    list-style-type: none;
}

.box-logo-language .logo {
    width: 100px;
}
.box-logo-language .language {
    margin: 20px 0;
}
.box-logo-language .language .country {
    font-size: 14px;
    margin-left: 10px;
}
.box-logo-language .language .icon {
    font-size: 20px;
    vertical-align: middle;
}

.footer-menu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}


.sony-group {
    font-size: 14px;
}
.sony-group .logo {
    width: 150px;
}
.sony-group .sony-copy {
    margin-top: 10px;
}
.sony-group .sony-link {
    color: white;
}
